---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const tales = await getCollection('tales');
  const posts = await getCollection('posts');
  const allContent = [...tales, ...posts];
  return allContent.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content } = await item.render();
---

<Layout title={item.data.title}>
  <article class="card">
    {item.data.image && (
      <div class="hero-image">
        <img 
          src={item.data.image} 
          alt={item.data.imageAlt || item.data.title}
          loading="lazy"
        />
      </div>
    )}
    <h1>{item.data.title}</h1>
    <p><small>{item.data.date.toDateString()}</small></p>
    <p><em>by {item.data.author}</em></p>
    <p><em>{item.data.description}</em></p>
    
    {item.data.tags && item.data.tags.length > 0 && (
      <div class="tags">
        {item.data.tags.map((tag: string) => (
          <a href={`/devtales/tags#${tag}`} class="tag">#{tag}</a>
        ))}
      </div>
    )}
    
    <br/>
    <Content />
  </article>
</Layout>
